div:hover{
    border: solid red 1px;
}




/* div:hover {
    border: solid red 1px;
  }  
  div:nth-of-type(1) {
    background-color: red;
  }
  div:nth-of-type(2) {
    background-color: green;
  }
  div:nth-of-type(3) {
    background-color: yellow;
  }
  div:nth-of-type(4) {
    background-color: grey;
  }
  div:nth-of-type(5) {
    background-color: lightblue;
  }
  div:nth-of-type(1) > h3 {
    color: purple;
  }
  div:nth-of-type(2) > h3 {
    color: green 
  }
  div:nth-of-type(3) > h3 {
    font-size: 20px;
  }
  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }
  div:nth-of-type(5) > h3 {
    font-style: italic
  }
  div:nth-of-type(3) {
    height: 100px;
  }
  div:nth-child(odd) h3 {
    font-style: italic
  } */