h1 {
    font-size: 65px;
}
p {
    font-family: monospace;
}
h2 {
    color: green;
    font-size: 2em;
}
    body {
        background-color: rgb(255, 400, 200);
        font-size: 15px;
}
#ex-sp {
    background-color: red;
}
#h2-uni {
    color: orange;
}
.lista {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    text-decoration: underline;
}