ol{
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    color: red;
}

h1 em{
    font-size: 40px;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}

ul:nth-of-type(1) li:nth-child(1), ul:nth-of-type(1) li:nth-child(2), ul:nth-of-type(1) li:nth-child(3){
    color: blue;
}

ul:nth-of-type(1){
    color: pink;
}

