div {
  height: 100px;
  background-image: url(https://www.nicepng.com/png/full/301-3010748_f1-car-icon-free-png-and-vector-car.png);
  background-size: cover;
  width: 200px;
}

.title-heading {
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: xxx-large;
}

.center {
  padding: 10px;
  text-align: center;
}

.car-section {
  padding-top: 20px;
  text-align: left;
}

.car1 {
  background-color: #ff0000;
  margin-left: '0px';
}

.car2 {
  background-color: #41cd16;
  margin-left: '0px';
}
