.car1 {
    height: 100px;
    background-image: url(01.png);
    background-size: cover;
    width: 150px;
}
    .car2 {
    height: 100px;
    background-image: url(02.png);
    background-size: cover;
    width: 150px;
}
.car3 {
    height: 100px;
    background-image: url(03.png);
    background-size: cover;
    width: 150px;
}
.car4 {
    height: 100px;
    background-image:  url(04.png);
    background-size: cover;
    width: 150px;
}
.title-heading{
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color:crimson;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}