.super-mario{
    width: 200px;
    position: absolute;
    z-index: 1;
}
.goomba{
    width: 100px;
    float: left;
    margin-top: 300px;
    position: absolute;
}
.baloon{

}
.speach{
    font-size: 25px;
}
.bowser{
    width: 200px;
}