
#paragrafo{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.newspaper{
    background-color: rgb(250, 235, 215);
    font-family: 'Times New Roman';
    font-weight: 700;
}

.magazine1{
    background-color: rgb(0, 128, 128);
    color: rgb(255, 255, 255);
    font-family: Verdana;
    font-weight: 900;
    text-transform: uppercase;
}

.magazine2{
    background-image: url("images/pink-pattern.png");
    color: rgb(255, 0, 255);
    font-family: Verdana;
    font-weight: 900;
    text-transform: uppercase;
}

.medium{
    font-size: 20px;
    padding: 8px;
}

.big{
    font-size: 30px;
    padding: 10px;
}

.reallybig{
    font-size: 40px;
    padding: 15px;
}

.rotateleft{
    transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}

.rotateright{
    transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}

.skewleft{
    transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright{
    transform: matrix(1, 0, -0.176327, 1, 0, 0);
}