h1, p{
    text-align: center;
}

li:hover{
    background-color: darkcyan;
}

li:active{
    font-family: monospace;
    font-size: x-large;
    background-color: green;
}

ol{
    list-style: none;
}